<<<<<<< HEAD
<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="Guilt Fit">

<title>Ask Mo'</title>

<link rel="stylesheet" href="../../assets/stylesheets/animations.css">
<link rel="stylesheet" href="../../assets/stylesheets/style.css">
<link rel="stylesheet" href="../../assets/stylesheets/parallax.css">
<link rel="icon" href="app/assets/images/favicon.ico"/>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--Stock footage can be used with license: 
    https://www.youtube.com/watch?v=4HuPwXUWF9o -->
<video autoplay loop>
    <source src="people-walk.mp4" type="video/mp4">
</video>

<!-- logo animation effect -->

</head>

<body>
<div id="home">
<div id="content">
    <div id="object" class="slideUp">
        <br>
    <h1>Ask Mo'</h1>
    </div>

<div class="tagline">
    Questions by you. 
    <br>
    Answers from everyone else.
</div>
    <center><a href="../layouts/application.html.erb" class="button btnFade btnBlueGreen">Login</a></center>
    <center><a href="#" class="button btnFade btnBlueGreen">Sign Up</a></center>
</div>
</div>
