<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="Ask Mo">

<title>Ask Mo'</title>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

</head>

<body>
<div id="home">
<div id="content">

    <script language="javascript" type="text/javascript">
function numOfLines(choice) {
    for (var i = 0; i < choice; ++i) {
        document.getElementById("addy_lines").innerHTML = document.getElementById("addy_lines").innerHTML + "<br />Name: <input type='text' id='Name' size=50 maxlength=50 /> ";
    }
}
    </script>

<div id="nav">
  <div class="text">
    Ask Mo'
  </a>
</div>

<hr />

<form>Number of Address Lines:
    <input type="text" id="AddyLines" size=2 maxlength=2 onChange="numOfLines(this.value);" />
    <div id="addy_lines">Text</div>
</form>

<div id="footer">
</div>

</div>
</div>
